body
{
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-color:#BCF5A9;
}
#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:100%;
}
#player_wrapper
{
 position:relative;
 width:100%;
 margin-left:0px;
}
#video_player
{
 width:100%;
}
#player_controls
{
 top:98%;
 position:absolute;
 background-color:black;
 width:100%;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:150px;
 width:20px;
}
.right-control
{
	float:right;
	position:relative;
	
}

.right-control .wino-nav
{
		position:absolute;
		width:100px;
		background:#fff;
		bottom:20px;
		right:20px;
 
	
}

.right-control .wino-nav ul
{
	list-style:none;
	wisth:100%;
}